@CHARSET "UTF-8";
body{
	margin: 0;
	text-align: center; 
	background-image: url("../images/back.gif");
}
table, th, td{
	border: solid 1px #000;
	border-collapse: collapse;
	margin-bottom: 10px;
}
table{
	width: 600px;
	margin: 0 auto 10px;
}
th, td{
	padding: 5px;
}
th{
	background-image: url("../images/12.gif");
	text-align: left;
	width: 200px;
	color: black;
}
td{
	background-image: url("../images/027.jpg");
	width: 400px;
	text-align: center;
}
input[type="submit"]{
	width: 200px;
	background-color: #ffaa00;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ffe78b), to(#ffaa00));
	background-image: -webkit-linear-gradient(top, #ffe7b8 0%, #ffaa00 100%);
	background-image: linear-gradient(to bottom, #ffe7b8 0%, #ffaa00 100%);
	border: solid 1px #aaaaaa;
	border-radius: 10px;
	margin: 10px auto;
}
input[type="submit"]:hover{
	opacity: 0.8;
	cursor: pointer;
}
#caution{
	background-color: yellow;
	color: red;
	font-weight: bold;
	width: 600px;
	margin-left: auto;
	margin-right: auto;
}
a{
	text-decoration: none;
	color: blue;
}
a:hover{
	color: #ffb33d;
}
article{
	width: 800px;
	background-color: #ffffff;
	background-image: url("../images/027.jpg");
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border: solid 1px #aaaaaa;
	padding: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 15px;
	-webkit-box-shadow: 1px 1px 3px #aaaaaa;
	box-shadow: 1px 1px 3px #aaaaaa;
	border-radius: 20px;
	overflow: hidden;
}